fastapi
uvicorn
sqlalchemy
pandas
streamlit
bcrypt==3.2.0
passlib[bcrypt]
pydantic
python-multipart
python-dotenv
requests
plotly
extra-streamlit-components
python-docx
openpyxl
xlsxwriter
python-jose[cryptography]
